body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f5f5f5;
}
header {
    background-image: url('images/space4.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    color: #f5f5f5;
    display: flex;
    padding: 20px;
    font-family: 'future';
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: clamp(24px, 10vw, 60px);
    font-style: "text-transform: uppercase;";
}

nav ul {
    font-family: 'future';
    list-style: none;
    padding: 10px;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
}
main {
    background: #f5f5f5;;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 100px;
}
footer {
    
    margin-top: 20px;
    font-size: 10px;
    color: grey;
    position:fixed;bottom:0;left:0;right:0;height:30px;
}

@font-face {
    font-family: 'future';
    src: url('fonts/audioWide.ttf');
    font-weight: normal;
    font-size: normal;
}

.header-link {
    text-decoration: none; 
    color: white; 
    transition: color 0.3s ease-in-out;
}